<h1>List of coupons!</h1>
<ul>
  <% if @coupons.size > 0 %>
    <% @coupons.each do |coupon| %>
      <li>
        <%= coupon.store + " - " %> 
        <%= link_to(coupon.coupon_code, coupon_path(coupon)) %>
      </li>
    <% end %>
  <% else %>
  No coupons listed yet!
  <% end %>
</ul>
